language: node_js
sudo: false
node_js:
  - "4.1.1"
  - "4.0.0"
  - "0.12.7"
  - "0.10"
  - "0.8"
  - "iojs"
  - "iojs-v2.0.0"
  - "iojs-v1.8.1"
  - "iojs-v1.0.4"
matrix:
  allow_failures:
    - node_js: "0.8"

before_install:

install:
  # Install canvas dependencies
  - sudo apt-get update -y
  - sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++ -y

  # Install node modules
  - npm install

notifications:
  email: false
